<div class="container-fluid  m-5">
    <div class="row">
        <div class="col-xl-7 col-md-11 col-12">

            <div *ngFor="let item of [].constructor(2)" class="row position-relative" style="border-bottom:1px solid #f0f0f0;padding-bottom:3px">
                <div class="col-lg-4 col-md-4 col-6">
                    <img class="img-fluid h-75 w-50" alt="img" src="https://storage.googleapis.com/original-marines-outlet/e207b578-bd6e-40f9-b9d6-43c6c04460e4-1" />
                </div>
                <div class="col-lg-8 col-md-8 col-6">
                    <div class="d-flex flex-column">
                        <div class="d-flex flex-row">
                            <div class="w-75 text-start">
                                <h4 style="white-space: pre;overflow: hidden;">Girl's Good Night Pyjama Fl...</h4>
                            </div>
                            <div>
                                <button class="btn btn-danger rounded-circle p-0" style="background-color:transparent;color:#dc3545;width: 30px;height:30px;">X</button>
                            </div>
                        </div>
                        <div class="d-flex flex-row">
                            <input type="checkbox" class="form-check-input" name="wrap" id="wrap-as-gift-input" />
                            <label for="wrap-as-gift-input" style="margin-left:3px;">Wrap as a gift?</label>
                        </div>
                        <span class="text-start">3 - 4 Years </span>
                        <div class="d-flex flex-row text-start">
                            <strong>325,000LBP</strong>
                            <small style="color:grey; text-decoration: line-through; font-style: italic;">650,000 LBP</small>
                        </div>
                        <div class="discount-cart-label text-start">You saved 50%</div>
                        <div class="qty" style="text-align: left;">
                            <label>Qantiter :</label>
                            <input type="number" value="1" class="form-control w-25 mt-1">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row text-start position-relative p-3">
                <h3>PURCHASE INFORMATION</h3>
                <p>3 TO 5 BUSINESS DAYS TO DELIVER. 9,000LBP FLAT RATE DELIVERY ALL OVER LEBANON. CASH ON DELIVERY ONLY. NO REFUNDS ARE AVAILABLE. READ LINK BELOW FOR MORE INFORMATION ABOUT OUR RETURN POLICY.</p>
            </div>

        </div>
        <div class="col-xl-4 col-md-11 col-12 " style="border-left:1px solid #f0f0f0">
            <div class="row">
                <div class="mt-2 d-flex flex-column " style="border-bottom:1px solid #f0f0f0;">
                    <div class="d-flex flex-row w-100 bg-secondary px-2" style="border-radius:20px;">
                        <div class="text-start w-100">
                            <h3>
                                SUBTOTAL
                                <span style="float:right">289,250 LBP</span>
                            </h3>
                        </div>

                    </div>

                    <div class="d-flex flex-row mt-2 w-100">
                        <div class="text-start w-100">
                            <p>
                                SHIPPING
                                <strong>[Express Delivery]</strong>
                                <span style="float:right">30,000 LBP</span>

                            </p>
                        </div>

                    </div>
                    <div class="d-flex flex-row mt-2 w-100">
                        <div class="text-start w-100">
                            <p>
                                TAX
                                <strong>[VAT]</strong>
                                <span style="float:right">
                                    35,750 LBP
                                </span>
                            </p>
                        </div>

                    </div>
                </div>
                <div class="bg-secondary mt-3 d-flex flex-row px-2" style="border-radius:20px">
                    <div class="text-start w-100">
                        <h3>
                            TOTAL
                            <span style="float:right">355,000 LBP</span>

                        </h3>
                    </div>

                </div>
            </div>
            <p class="mt-1 text-start">TAXES INCLUDED*</p>
            <p style="color: blue; font-style: italic;" class="text-start mt-2">You will save 325,000 LBP with discounts</p>
            <div class="mt-2 d-flex flex-row">
                <div class="m-2">
                    <a routerLink="/products" class="btn btn-primary w-100">CONTINUE SHOPPING</a>
                </div>
                <div class="m-2">
                    <button class="btn btn-danger w-100">PROCEED CHECKOUT</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-root></app-root>