
<div class="container mt-3">
    <div class="row justify-content-center text-center">
        <div class="col-lg-8 col-12 mb-4">
            <h1 class="text-start">REGISTER</h1>
            <form [formGroup]="loginform" (ngSubmit)="submit()"  method="POST">
                <div class="col-lg-12 mt-4">
                    <input class="form-control w-100" placeholder="EMAIL*" type="text" formControlName="email"  />
                </div>
                <div class="col-lg-12  mt-4">
                    <input class="form-control w-100" placeholder="PASSWORD*" type="password" formControlName="pwd"  />
                </div>
                <div class="col-lg-12  mt-4">
                    <input class="form-control w-100" placeholder="CONFIRM PASSWORD*" type="password" formControlName="cfpwd"  />
                </div>
                <div class="row  mt-4">
                    <div class="col-lg-6 mt-3 mt-lg-0">
                        <input class="form-control w-100 col-lg-6" placeholder="FIRST NAME*" type="text" formControlName="first_name"  />
                    </div>
                    <div class="col-lg-6 mt-3 mt-lg-0">
                        <input class="form-control w-100 col-lg-6" placeholder="LAST NAME*" type="text" formControlName="last_name"  />
                    </div>
                </div>
                <div class="col-lg-12  mt-4">
                    <input class="form-control w-100" placeholder="COMPANY" type="text" formControlName="copany"  />
                </div>
                <div class="row  mt-4">
                    <div class="col-lg-12 mt-3 mt-lg-0">
                        <input class="form-control w-100 col-lg-12" placeholder="PHONR NUMBER*" type="text" formControlName="mobile"  />
                    </div>
                    
                </div>
                <div class="col-lg-12  mt-4">
                    <input class="form-control w-100" placeholder="BUILDING NAME & MORE DETAILS (FLOOR, APARTMENT, OR OTHER REFERENCES)*" type="text" formControlName="address" />
                </div>
               
                

                  
               
                <div class="col-lg-12  mt-4">
                    <button type="submit" class="w-100 btn btn-primary">SUBNIT</button>
                </div>
            </form>
        </div>
    </div>
</div>
<app-root></app-root>