<div class="container mt-5">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-12" style="text-align-last: center;">
            <img src="https://www.kindpng.com/picc/m/130-1300217_user-icon-member-icon-png-transparent-png.png" class="rounded-circle img-fluid" alt="Cinque Terre">
            <br />
            <button type="button" class="text-center btn btn-primary">Upload</button>
        </div>
        <div class="col-lg-8 col-md-6 col-12">
            <label>Name :</label>
            <h5>Zahraa Choumane</h5>
            <br />
            <label>Email :</label>
            <h5>zahraa.ch@hotmail.com</h5>
            <br />
            <label>Adress :</label>
            <h5>beirut,lebanon</h5>
            <br />
            <label>Mobile :</label>
            <h5>+961 78 942 470 </h5>
            <br />
          <!--  <button type="submit" class="btn btn-primary mt-3 w-100"><a style="color:pink">logout</a> </button>-->
        </div>
    </div>
</div>
