<div class="container mt-5">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-12" style="text-align-last: center;">
            <img src="https://www.kindpng.com/picc/m/130-1300217_user-icon-member-icon-png-transparent-png.png" class="rounded-circle img-fluid" alt="Cinque Terre">
            <br />
            <button type="button" class="text-center btn btn-primary">Upload</button>
        </div>
        <div class="col-lg-8 col-md-6 col-12">
            <label>Email :</label>
            <h5>{{user.email}}</h5>
            <br />
            <label>Name :</label>
            <h5>{{user.first_name}} {{user.last_name}}</h5>
            <br />
            <label>Adress :</label>
            <h5>{{user.address}}</h5>
            <br />
            <label>Company :</label>
            <h5>{{user.company}}</h5>
            <br />
            <label>Mobile :</label>
            <h5>{{user.mobile}} </h5>
            <br />
            
        </div>
    </div>
</div>